#mainPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.delete{
    background-image: url(../data/images/trash.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid lightgray;
}

#bookInfo{
    display: flex;
    flex-direction: column;
    height: 300px;
}

#exitRead{
    position: absolute;
    margin-left: 0;
}

#title{
    text-align: center;
    background-color: lightblue;
}

#moreInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
}

.class-img{
    height: 30%;
    width: auto;
    border: 1px solid gray;
}

#price_rating{
    align-content: flex-start;
    margin-top: 40%;
}

#price{
    display: flex;
    justify-content: center;
}

#rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    background-color: lightgray;
}

#ratingNumber{
    margin-right: 10%;
    margin-left: 10%;
}

#newBookForm{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}

form{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 2%;
}

#formTitle{
    border-bottom: 5px dotted white;
}

#confirmNewBook{
    position: absolute;
    right: 3px;
    bottom: 3px;
}